src/

node_modules/

turbo.json
.turbo/

.env
.env.example
.env.local
.env.development
.env.test
.env.production
.env.staging

dist/**/*.test.d.ts
dist/**/*.test.js
dist/**/*.test.js.map

.github/

tsconfig.json

eslint.config.cjs
eslint.config.js
eslint.config.mjs

send-email-api-options.tgz

.npmrc.github

.claude/
